[*.cs]
dotnet_diagnostic.CS1591.severity = suggestion         # Missing XML comment for publicly visible type or member 'Type_or_Member'
dotnet_diagnostic.IDE0028.severity = suggestion        # Use collection initializer
dotnet_diagnostic.RCS1138.severity = suggestion        # Add summary to documentation comment
dotnet_diagnostic.RS0019.severity = suggestion         # Duplicate resource
dotnet_diagnostic.S125.severity = suggestion           # Remove this commented out code.
dotnet_diagnostic.S3249.severity = suggestion          # Remove this 'base' call to 'object.GetHashCode', which is directly based on the object reference.
dotnet_diagnostic.S3875.severity = suggestion          # Remove this overload of 'operator =='.
dotnet_diagnostic.SA1005.severity = suggestion         # Single line comment should begin with a space
dotnet_diagnostic.SA1028.severity = suggestion         # Code should not contain trailing whitespace (https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1028.md)
dotnet_diagnostic.SA1101.severity = suggestion         # Prefix local calls with this (https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1101.md)
dotnet_diagnostic.SA1116.severity = suggestion         # The parameters should begin on the line after the declaration, whenever the parameter span across multiple lineS
dotnet_diagnostic.SA1117.severity = suggestion         # The parameters should all be placed on the same line or each parameter should be placed on its own line
dotnet_diagnostic.SA1124.severity = suggestion         # Do not use regions (https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1124.md)
dotnet_diagnostic.SA1127.severity = suggestion         # Generic type constraints should be on their own line
dotnet_diagnostic.SA1128.severity = suggestion         # Put constructor initializers on their own line
dotnet_diagnostic.SA1200.severity = suggestion         # A C# using directive is placed outside of a namespace element
dotnet_diagnostic.SA1201.severity = suggestion         # A constructor should not follow a property (https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1201.md)
dotnet_diagnostic.SA1208.severity = suggestion         # A using directive which declares a member of the System namespace appears after a using directive which declares a member of a different namespace, within a C# code file  (https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1208.md)
dotnet_diagnostic.SA1309.severity = suggestion         # Field names must not begin with an underscore
dotnet_diagnostic.SA1503.severity = suggestion         # Braces should not be omitted (https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1503.md)
dotnet_diagnostic.SA1515.severity = suggestion         # Single-line comment should be preceded by blank line (https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1515.md)
dotnet_diagnostic.SA1600.severity = suggestion         # Elements should be documented (https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1600.md)
dotnet_diagnostic.SA1606.severity = suggestion         # Element documentation should have summary text
dotnet_diagnostic.SA1611.severity = suggestion         # The documentation for parameter 'data' is missing
dotnet_diagnostic.SA1614.severity = suggestion         # Element parameter documentation should have text
dotnet_diagnostic.SA1615.severity = suggestion         # A C# element is missing documentation for its return value.
dotnet_diagnostic.SA1616.severity = suggestion         # The parameters should begin on the line after the declaration, whenever the parameter span across multiple lines
dotnet_diagnostic.SA1618.severity = suggestion         # The documentation for parameter 'data' is missing
dotnet_diagnostic.SA1622.severity = suggestion         # Generic type parameter documentation should have text (https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1622.md)
dotnet_diagnostic.SA1623.severity = suggestion         # The property's documentation summary text should begin with: 'Gets or sets'  (https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1623.md)
dotnet_diagnostic.SA1629.severity = suggestion         # Documentation text should end with a period (https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1629.md)
dotnet_diagnostic.SA1633.severity = suggestion         # A C# code file is missing a standard file header (https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1633.md)
dotnet_diagnostic.SA1642.severity = suggestion         # Constructor summary documentation should begin with standard text (https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1642.md)
dotnet_diagnostic.SA2326.severity = suggestion         # 'T' is not used in the interface.
dotnet_diagnostic.VSTHRD200.severity = suggestion      # Use "Async" suffix in names of methods that return an awaitable type (https://microsoft.github.io/vs-threading/analyzers/VSTHRD200.html)
resharper_duplicate_resource_highlighting = suggestion # Duplicate resource
